# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE / OS
.vscode/
.idea/
.DS_Store

# Terraform local state (never commit)
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*

# Local backend config
backend/aws.hcl

# Windows ADS cruft
*:Zone.Identifier
