resource_group_name  = "mcsa-tfstate-rg"
storage_account_name = "REPLACE_ME"
container_name       = "tfstate"
key                  = "uc01/azure/landing-zone-lite.tfstate"
use_azuread_auth     = true
